// Variables

$topBarHeight:4vh;


// Mixins



// Bootstrap overrides

// CSS

#top-bar {
	height:$topBarHeight;
	background-color:#90A;
}

#nav-menu-div {
	padding:3px;
}

#main-header > h1 {
	font-size:2rem;
}

#main-content {
	height:90vh;
	background-color:#FAFAFA;
	overflow-x:hidden;
	overflow-y:scroll;
}

#main-content {
	font-size:1.5rem;
}

#todo-list {
	list-style:none;
}

.tickBoxPos {
	position:relative;
	top:2px;
	left:-45px;
	width:0;
	height:0;
}

.tickBox {
	width:35px;
	height:35px;
	text-align:center;
}

.fa-check {
	display:none;
	position:absolute;
	top:3px;
	left:10px;
}

.timestamps {
	width:105px;
}

.inputWidth {
	width:50% !important;
}

.li-controls {
	height:42px;
	width:75px !important;
}

.writing {
	color:lightgreen;
}


// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.timestamps {
		width:25%;
	}

	.inputWidth {
		width:56% !important;
	}

	.li-controls {
		width:19% !important;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.timestamps {
		width:18%;
	}

	.inputWidth {
		width:69% !important;
	}

	.li-controls {
		width:13% !important;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.timestamps {
		width:13%;
	}

	.inputWidth {
		width:78% !important;
	}

	.li-controls {
		width:9% !important;
	}
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.timestamps {
		width:11%;
	}

	.inputWidth {
		width:81% !important;
	}

	.li-controls {
		width:8% !important;
	}
}
