// Variables

$topBarHeight:4vh;


// Mixins



// Bootstrap overrides

.w-87 {
	width:87% !important;
}

// CSS

#top-bar {
	height:$topBarHeight;
	background-color:#90A;
}

#nav-menu-div {
	padding:3px;
}

#main-header > h1 {
	font-size:2rem;
}

#main-content {
	min-height:500px;
	background-color:#FAFAFA;
}

#main-content {
	font-size:1.5rem;
}

.li-controls {
	height:42px;
}
